    <div class="row messages">
        <% flash.each do |name, msg| %>
            <div class="ui message <%= name%>">
                <a href="#" class="close icon" data-dismiss="alert">&#215;</a>
                <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
            </div>
        <% end %>
    </div>